aliases /etc/msmtp_aliases
tls on
tls_certcheck off

from {{ msmtp.from | default(ansible_hostname + '@' + ansible_domain, true) }}

auth on
host {{ msmtp.hub_server }}
port {{ msmtp.hub_port }}
user {{ msmtp.hub_user }}
password {{ msmtp.hub_pass }}
